# Environnement virtuel
venv/

# Python
__pycache__/
*.pyc

# Variables d'environnement
.env

# VS Code
.vscode/

# Données temporaires
*.log

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
# Environnement virtuel WSL
.venv/

# Données générées par Spark
data/curated/

# Données de test Spark
data/test_spark_wsl/

# Linux virtual environment
.venv-linux/

# Spark test outputs
data/test_spark_write_wsl/

# Python cache
__pycache__/
*.pyc
